<body>
  <h2>Thank you for signing up!</h2>
  <h5>There is just one more thing you must do before you can access your account:</h5>
  <p>Please click <a href="{{ url }}">here</a> to confirm your e-mail address. After that you can start using your account</p>
</body>
