<body style="width: 640px; margin-left: auto;margin-right: auto; text-align: center; font-family: Arial, Helvetica, sans-serif">
  <h2 style="text-align: center; margin-bottom: 40px; font-size: 26px">Thank you for signing up!</h2>
  <h4 style="text-align: justify; margin-bottom: 30px; font-size: 20px">There is just one more thing you must do before you can access your account:</h4>
  <p style="text-align: justify; margin-bottom: 40px; font-size: 16px">Please click the button below to confirm your e-mail address. After that you can start using your account.</p>
  <a href="{{ url }}" style="text-align: center; background: #1e5b99; color: white; padding: 6px; text-decoration: none; box-shadow: 0px 0px 2px 1px grey; font-weight: 600; font-size: 20px">Activate</a>
</body>
