<html>

  <head>
    <title>{% block title %}{% endblock %} - Data Visualization</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"></link>

    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/globals.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/events.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>

  <body>
    <header class="block">
      <h2 class="title is-2 is-marginless"><strong>Data Visualization</strong></h2>
      {% if not current_user.is_authenticated %}
        {% block not_authenticated_user %}{% endblock %}
      {% else %}
        <div class="user_settings">
          <span><i class="fa fa-cog"></i></span>
          <div class="menu">
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
              <li><a id="edit_account">Edit Account</a></li>
            </ul>
            <p class="menu-label">
              Logout
            </p>
            <ul class="menu-list">
              <li><a id="logout" href="{{ url_for('main.logout') }}">Logout</a></li>
            </ul>
          </div>
        </div>
      {% endif %}
    </header>
    {% block tabs %}{% endblock %}
    <div class="block content_wrap">
      {% block content %}{% endblock %}
    </div>
    <footer>
      {% block message %}{% endblock %}
    </footer>
  </body>

</html>
