<p class="title">{{ title }}</p>

<div class="loaded_content">
  <form id="form" method="post" action="{{ url }}">
    <div class="field">
      {{ form.hidden_tag() }}
      {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
          {{ field.label(class='label') }}
          <p class="control">
            {{ field(class='input', type='text') }}
          </p>
        {% endif %}
      {% endfor %}
    </div>
  </form>
</div>

<button class="button is-success redirect" type="submit" form="form">{{ cta }}</button>
